{% extends "pages/index.html" %} {% load static %} {% block contents %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>
	</head>
	<body>
		<form method="POST">
			{% csrf_token %} {{profile.as_p}}
			<input type="submit" value="SUBMIT" />
		</form>
		{% for profiles in profiles %}
		<a href="{% url 'ProfileEdit' profiles.id %}">ProfileEdit</a>
		{% endfor %}
	</body>
</html>

{% endblock %}
