<!DOCTYPE html>
{% load static %}
<html>

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Intelligent Traffic Light System</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'images/ITLS11.png' %}" rel="icon" />
    <!-- COLOR 001274  -->

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet" />

    <!--  CSS Files -->
    <link href=" {% static 'imp/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet" />
    <link href=" {% static 'imp/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet" />
    <link href=" {% static 'imp/boxicons/css/boxicons.min.css' %} " rel="stylesheet" />
    <link href=" {% static 'imp/quill/quill.snow.css' %} " rel="stylesheet" />
    <link href=" {% static 'imp/quill/quill.bubble.css' %} " rel="stylesheet" />
    <link href=" {% static ' imp/remixicon/remixicon.css' %}" rel="stylesheet" />


    <!-- Main CSS File -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
    <style>
     .bgr{
      background-color: #F1F6F9;
     }
    </style>

  </head>

  <body data-bs-theme="dark" >
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center bgr">
      <div class="d-flex align-items-center justify-content-between ">
        <a href="{% url 'Home'%}" class="logo d-flex align-items-center">
          <img src="{% static 'images/ITLS11.png' %}" style="height:500px; width:2rem;" alt="" />
          <span class="d-none d-lg-block">ITLS</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <nav class="header-nav ms-auto ">
        <ul class="d-flex align-items-center">
          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li>

          <!-- <div class="form-check form-switch mx-4">
            <input class="form-check-input p-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked
              onclick="myFunction()" />
          </div> 

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-bell"></i>
              <span class="badge bg-primary badge-number">10</span> </a><!-- End Notification Icon 

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
              <li class="dropdown-header">
                You have 10 new notifications
                 <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-exclamation-circle text-warning"></i>
                <div>
                  <h4>Lorem Ipsum</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>30 min. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-x-circle text-danger"></i>
                <div>
                  <h4>Atque rerum nesciunt</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>1 hr. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-check-circle text-success"></i>
                <div>
                  <h4>Sit rerum fuga</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>2 hrs. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="notification-item">
                <i class="bi bi-info-circle text-primary"></i>
                <div>
                  <h4>Dicta reprehenderit</h4>
                  <p>Quae dolorem earum veritatis oditseno</p>
                  <p>4 hrs. ago</p>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>
              <li class="dropdown-footer">
                <a href="#">Show all notifications</a>
              </li>
            </ul> -->
            <!-- End Notification Dropdown Items -->
          </li>
          <!-- End Notification Nav -->
<!-- 
          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-chat-left-text"></i>
              <span class="badge bg-success badge-number">3</span> </a><!-- End Messages Icon

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
              <li class="dropdown-header">
                You have 3 new messages
                <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="message-item">
                <a href="#">
                  <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle" />
                  <div>
                    <h4>Maria Hudson</h4>
                    <p>
                      Velit asperiores et ducimus soluta repudiandae labore
                      officia est ut...
                    </p>
                    <p>4 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="message-item">
                <a href="#">
                  <img src="" alt="" class="rounded-circle" />
                  <div>
                    <h4>Anna Nelson</h4>
                    <p>
                      Velit asperiores et ducimus soluta repudiandae labore
                      officia est ut...
                    </p>
                    <p>6 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="message-item">
                <a href="#">
                  <img src="" alt="" class="rounded-circle" />
                  <div>
                    <h4>David Muldon</h4>
                    <p>
                      Velit asperiores et ducimus soluta repudiandae labore
                      officia est ut...
                    </p>
                    <p>8 hrs. ago</p>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li class="dropdown-footer">
                <a href="#">Show all messages</a>
              </li>
            </ul> -->
            <!-- End Messages Dropdown Items -->
          </li>
          <!-- End Messages Nav -->
          {% for profiles in profiles %}
          <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="{{profiles.picture.url}}" alt="Profile" class="rounded-circle" />
              <span class="d-none d-md-block dropdown-toggle ps-2">{{profiles.Full_name}}</span> </a>
            <!-- End Profile Iamge Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>{{profiles.Full_name}}</h6>
                <span>{{profiles.job}}</span>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
                             
              {% endfor %}

              <li>

                <a class="dropdown-item d-flex align-items-center" href="{% url 'Profile' %}">

                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'Home'%}">
                  <i class="bi bi-question-circle"></i>
                  <span>Need Help?</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url  'Logout'%}">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar bgr">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="bi bi-grid"></i>
            <span>LOCATIONS</span>
          </a>
        </li>

        <!-- End Dashboard Nav -->
        
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-geo-alt-fill"></i><span>ILALA</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a href=" {% url 'Site' %}">
                <i class="bi bi-circle"></i><span>street 1</span>
              </a>
            </li>
            <li>
              <a href="/Hmmm/">
                <i class="bi bi-circle"></i><span>street 2</span>
              </a>
            </li>
            <li>
              <a href="##">
                <i class="bi bi-circle"></i><span>street 3</span>
              </a>
            </li>
            <li>
              <a href="##">
                <i class="bi bi-circle"></i><span>street 4</span>
              </a>
            </li>
            <li>
              <a href="##">
                <i class="bi bi-circle"></i><span>street 5</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End of ILALA Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
             <i class="bi bi-geo-alt-fill"></i><span>TEMEKE</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a href="##">
                <i class="bi bi-circle"></i><span>street 1</span>
              </a>
            </li>
            <li>
              <a href="##">
                <i class="bi bi-circle"></i><span>street 2</span>
              </a>
            </li>
            <li>
              <a href="##">
                <i class="bi bi-circle"></i><span>street 3</span>
              </a>
            </li>
            <li>
              <a href="##">
                <i class="bi bi-circle"></i><span>street 4</span>
              </a>
            </li>
            <li>
              <a href="##">
                <i class="bi bi-circle"></i><span>street 5</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End of TEMEKE Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-geo-alt-fill"></i><span>KINONDONI</span><i
              class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="tables-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a href="tables-general.html">
                <i class="bi bi-circle"></i><span>street 1</span>
              </a>
            </li>
            <li>
              <a href="tables-data.html">
                <i class="bi bi-circle"></i><span>street 2</span>
              </a>
            </li>
            <li>
              <a href="forms-validation.html">
                <i class="bi bi-circle"></i><span>street 3</span>
              </a>
            </li>
            <li>
              <a href="forms-validation.html">
                <i class="bi bi-circle"></i><span>street 5</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Tables Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-geo-alt-fill"></i><span>UBUNGO</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="charts-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a href="charts-chartjs.html">
                <i class="bi bi-circle"></i><span>street 1</span>
              </a>
            </li>
            <li>
              <a href="charts-apexcharts.html">
                <i class="bi bi-circle"></i><span>street 2</span>
              </a>
            </li>
            <li>
              <a href="charts-echarts.html">
                <i class="bi bi-circle"></i><span>street 3</span>
              </a>
            </li>
            <li>
              <a href="icons-boxicons.html">
                <i class="bi bi-circle"></i><span>street 4</span>
              </a>
            </li>
            <li>
              <a href="icons-boxicons.html">
                <i class="bi bi-circle"></i><span>street 5</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Charts Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-geo-alt-fill"></i><span>KIGAMBONI</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="icons-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a href="icons-bootstrap.html">
                <i class="bi bi-circle"></i><span>street 1</span>
              </a>
            </li>
            <li>
              <a href="icons-remix.html">
                <i class="bi bi-circle"></i><span>street 2</span>
              </a>
            </li>
            <li>
              <a href="icons-boxicons.html">
                <i class="bi bi-circle"></i><span>street 3</span>
              </a>
            </li>
            <li>
              <a href="icons-boxicons.html">
                <i class="bi bi-circle"></i><span>street 4</span>
              </a>
            </li>
            <li>
              <a href="icons-boxicons.html">
                <i class="bi bi-circle"></i><span>street 5</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Icons Nav -->

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'Profile'%}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>
        <!-- End Profile Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'Reports' %}">
            <i class="bi bi-envelope"></i>
            <span>Reports</span>
          </a>
        </li>
        <!-- End Reports Page Nav -->

        <!-- End  Page Nav -->

        <!-- End Login Page Nav -->

        <!-- End Error 404 Page Nav -->

        <!-- End Blank Page Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->
    {% block content %}

    {% endblock  %}
    <!-- 
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          
          </ol>
        </nav>
      </div>
    -->

    <!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <!-- End Right side columns -->
      </div>
    </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer"></footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- JS Files -->

    <script src=" {% static 'imp/bootstrap/js/bootstrap.bundle.min.js' %}  "></script>
    <script src="{% static 'imp/chart.js/chart.min.js'%}"></script>

    <!-- Main JS File -->
    <script>
      function myFunction() {
        var element = document.body;
        element.dataset.bsTheme =
          element.dataset.bsTheme == "light" ? "dark" : "light";
      }

      function stepFunction(event) {
        debugger;
        var element = document.getElementsByClassName("collapse");
        for (var i = 0; i < element.length; i++) {
          if (element[i] !== event.target.ariaControls) {
            element[i].classList.remove("show");
          }
        }
      }
    </script>

    <script src=" {% static 'js/main.js' %}"></script>
    <script src=" {% static 'js/Js.js' %}"></script>
  </body>

</html>